{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions"]
      }
    }],
    "react",
    "stage-0"
  ],
  "plugins": [
    "babel-plugin-add-module-exports",
    "babel-plugin-transform-runtime"
  ]
}
