nav
  ul
    list-style none
    text-align right
    padding 0
    margin 0

  li
    display inline-block
    padding 1em

  a:hover
    border-bottom #f6f7f8 2px solid

  a.active
    border-bottom #f6f7f8 2px solid
    color #025984